doctype html
html
	head
		title="Tinglados"

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

		link(href="font-awesome-4.7.0/css/font-awesome.min.css", rel="stylesheet")

		link(href="css/styles.css", rel="stylesheet")
		
		script(src="scripts/main.js")

		link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')

	body
		.cabecera
			.row
				.col-sm-6
					img(src="images/logo.png", alt="Logo")
				.col-sm-6.textoSupIzquierdo
					|Esteban Ignacio Fernández
			.row
				.col-xs-12
					h1.tituloPrincipal Estructuras Metálicas
					h2.tituloSecundario Construcción y Reparación de Galpones, Techos y Tinglados

			.row
				.col-md-8
					.botonesFlotantes
						.botonFlotante
							i.fa.fa-1_5x.fa-picture-o
						.botonFlotante
							i.fa.fa-1_5x.fa-map-marker
					#carrusel.carousel.slide(data-ride='carousel')
						// Indicators
						ol.carousel-indicators
							li.active(data-target='#carrusel', data-slide-to='0')
							li(data-target='#carrusel', data-slide-to='1')
							li(data-target='#carrusel', data-slide-to='2')
							li(data-target='#carrusel', data-slide-to='3')
							li(data-target='#carrusel', data-slide-to='4')
						// Wrapper for slides
						.carousel-inner(role='listbox')
							.item.active
								img(style="", src='images/carrusel/1.jpg', alt='...')
								.carousel-caption
							.item
								img(src='images/carrusel/2.jpg', alt='...')
								.carousel-caption
							.item
								img(src='images/carrusel/3.jpg', alt='...')
								.carousel-caption
							.item
								img(src='images/carrusel/4.jpg', alt='...')
								.carousel-caption
							.item
								img(src='images/carrusel/5.jpg', alt='...')
								.carousel-caption

						// Controls
						a.left.carousel-control(href='#carrusel', role='button', data-slide='prev')
							span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							span.sr-only Anterior
						a.right.carousel-control(href='#carrusel', role='button', data-slide='next')
							span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							span.sr-only Siguiente

				.col-md-4(style='min-height:485px; padding: 0px 0px 0px 0px; overflow: hidden;')

					#formulario(style='display: inline-block; position: relative; width: 100%;')
						.tituloFormulario Complete el formulario por presupuestos. Nos contactaremos a la brevedad.
						form.form-horizontal.cuerpoFormulario(method='POST', action='mailto:pepe@pepe.pepe', accept-charset='UTF-8', rel='nofollow')
							input(type='hidden', name='_token', value='sWUb6Gq4oi38vjNONW8y1JDU7zh8CjBg5dKz89No')
							.form-group
								label.col-sm-12(for='first_name') Nombre
								.col-sm-12
									input#first_name.form-control(placeholder='Nombre', name='first_name', type='text')
							.form-group
								label.col-sm-12(for='last_name') Apellido
								.col-sm-12
									input#last_name.form-control(placeholder='Apellido', name='last_name', type='text')
							.form-group
								label.col-sm-12(for='email') Email
								.col-sm-12
									input#email.form-control(placeholder='Email', name='email', type='text')
							.form-group
								label.col-sm-12(for='phone_number') Teléfono
								.col-sm-4
									input#area_code.form-control(size='3', maxlength='5', placeholder='Cód.', name='area_code', type='text')
								.col-sm-1.infoCodigoArea
									i.fa.fa-question-circle(aria-hidden="true")
								.col-sm-7
									input#phone_number.form-control(maxlength='12', placeholder='Teléfono', name='phone_number', type='text')
							.form-group
								label.col-sm-12(for='message') Mensaje
								.col-sm-12
									textarea#message.form-control(cols='', rows='', placeholder='Mensaje', name='message')
							.form-group
								.col-sm-12
									button.btn.btn-warning.botonEnviar(type="button") ENVIAR
							.form-group
								.col-sm-12
									#container-flash-message.flash-message

		.franjaAzul Desde 1974 al Servicio de Nuestros Clientes

		.franjaInferior
			.row
				.col-sm-6
					div(style="font-size: 30px; margin-bottom: 30px")
						|¿Por Qué Elegirnos?
					ul.media-list
						li.media
							.media-left
								a(href='#')
									i.fa.fa-check-circle-o
							.media-body
								h4.media-heading SERVICIO
								|Ofrecemos servicio integral para fabricación y construcción de obras nuevas, todo tipo de ampliaciones y refacciones.
						li.media
							.media-left
								a(href='#')
									i.fa.fa-check-circle-o
							.media-body
								h4.media-heading EFICACIA
								|Brindamos una respuesta ágil y eficaz a las urgencias de reparaciones y necesidades de mantenimiento.
				.col-sm-4
					.contenedorLLamar
						i.fa.fa-phone-square(style="display:block")
						button.btn.btn-warning.botonLlamar(type="button")
							i.fa.fa-phone(style="margin-right: 5px")
							|Click aquí para llamar
							