.CampoCuerpo{
	font-weight: normal;
	cursor: text;
}

.fa-toggle-on, .fa-toggle-off, .fa-trash, .fa-plus-circle{
	cursor: pointer;
}

.miniaturaFoto{
     border: 1px solid #000;
     margin: 10px 5px 0 0;
 }

 .CampoFoto{
 	display: inline;
 }

 .fa-spinner, .fa-upload{
 	margin-right: 5px;
 }

 .tituloSolicitud{
 	font-weight: bold;
 }

/* Evitar que se extienda mas del 100% del body y aparezca el scroll */
 .row{
 	margin-right: 0px;
 	margin-left: 0px;
 }

 #AlertErrorModal, #AlertExitoModal{
 	margin-top: 15px;
 }

 #ContenedorExportBd button{
 	margin-left: 5px;
 	margin-bottom: 5px;
 }