.CampoCuerpo{
	font-weight: normal;
	cursor: text;
}

.fa-toggle-on, .fa-toggle-off, .fa-trash, .fa-plus-circle{
	cursor: pointer;
}

.miniaturaFoto{
     height: 300px;
     border: 1px solid #000;
     margin: 10px 5px 0 0;
 }

 .CampoFoto{
 	display: inline;
 }

 .fa-spinner, .fa-upload{
 	margin-right: 5px;
 }

 .tituloSolicitud{
 	font-weight: bold;
 }